body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

footer a {
  padding: 5px;
}

.navbar {
    margin-bottom: 0;
    background-color: #fcfcfc;
    border: 0;
    line-height: 1.42857143 !important;
    border-radius: 0;
    padding: 20px;
}
  
.navbar li a {
    color: #000 !important;
}
  
.navbar .navbar-brand {
    color: #000 !important;
    font-size: 32px;
}
  
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #8892cc !important;
    text-decoration: underline;
    background-color: #fcfcfc !important;
}
  
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fcfcfc !important;
}

.imgeu {
  margin-top: 0px;
  padding: 30px;
}
   
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://raw.githubusercontent.com/jotexe/trabalho/master/imagens/headerCAPA.png');
  background-size: cover;
  color: #ffffff;
  height: 500px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  text-shadow: 0px 2px #8d9ce8;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  text-shadow: 0px 2px #8d9ce8;
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}
